<div class="container-fluid">
    <div class="row " id="box-search">
        <div class="col-md-12 m-0 p-0" >
            <div class="img-box text-center">
                <img src="/images/frontEnd/b2.jpg" alt="" class="img-responsive"  width="100%">
                <div class="caption">
                    <h1>Opstra Options Strategy Builder</h1>
                    <p>Custom build and analyze your options strategies</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-center pt-15">
            <h3>Your first step towards Options Analysis</h3>
            <p>Start analysing and building your options strategies
            </p>
        </div>

    </div>
</div>

<!--===================================================-->
<div class="container">
    <div class="row home-panel">
        <div class="col-md-1"></div>

        <div class="col-md-5 pt-10">
            <div class="panel effect6">

                <div class="panel-body">
                    <!--Flot Spline Chart placeholder -->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div>
                        <img src="/images/frontEnd/gp/g1.jpg" class="img-responsive">
                    </div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div class="panel-heading">
                        <h3 class="panel-title"> Options Algorithm </h3>
                        <p>Quickly find option trading opportunities in the underlying of your interest</p>
                        <div class="text-center"><a class="btn pln-btn " href="#">EXPLORE</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 pt-10">
            <div class="panel effect6">

                <div class="panel-body">
                    <!--Morris Area Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div >
                        <img src="/images/frontEnd/gp/g2.jpg" class="img-responsive">
                    </div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div class="panel-heading">
                        <h3 class="panel-title"> Options Dashboard </h3>
                        <p> Bird's eye view of options related information of all FnO Indices and Stocks</p>
                        <div class="text-center"><a class="btn pln-btn " href="#">EXPLORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5 pt-10">
            <div class="panel effect6">

                <div class="panel-body">
                    <!--Flot Spline Chart placeholder -->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div > <img src="/images/frontEnd/gp/g3.jpg" class="img-responsive"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div class="panel-heading">
                        <h3 class="panel-title"> Open Interest Analysis</h3>
                        <p>Analyse Open-Interest, MaxPain and PCR of Index and Stock Options
                        </p>
                        <div class="text-center"><a class="btn pln-btn " href="#">EXPLORE</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 pt-10">
            <div class="panel effect6">

                <div class="panel-body">
                    <!--Morris Area Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div> <img src="/images/frontEnd/gp/g4.jpg" class="img-responsive"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div class="panel-heading">
                        <h3 class="panel-title"> Volatility Skew Analysis</h3>
                        <p> Analyse Volatility Skew of Index and Stock Options</p>
                        <div class="text-center"><a class="btn pln-btn " href="#">EXPLORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-5 pt-10">
            <div class="panel effect6">

                <div class="panel-body">
                    <!--Flot Spline Chart placeholder -->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div> <img src="/images/gp/g5.jpg" class="img-responsive"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div class="panel-heading">
                        <h3 class="panel-title"> Results Calendar </h3>
                        <p>Earnings Results Calendar of Indian FNO Stocks</p>
                        <div class="text-center"><a class="btn pln-btn " href="#">EXPLORE</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 pt-10">
            <div class="panel effect6">

                <div class="panel-body">
                    <!--Morris Area Chart placeholder-->
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div>  <img src="img/gp/g6.jpg" class="img-responsive"></div>
                    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Historical Results Timings</h3>
                        <p> Historical earnings results declaration timings of Indian FNO Stocks</p>
                        <div class="text-center"><a class="btn pln-btn " href="#">EXPLORE</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!--===================================================-->
    <!--End page content-->

</div>

<div class="container-fluid bg-gray pt-60">
    <div class="row ">
        <h2></h2>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="customer-logos slider">
                <div class="slide"><img src="./img/cat/cl-logo1.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo2.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo3.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo4.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo5.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo6.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo1.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo2.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo3.png"></div>
                <div class="slide"><img src="./img/cat/cl-logo4.png"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>