<!-- api/emailTemplates/welcomeEmail/html.ejs-->

<p>Dear <%=name%>,</p>
Here goes welcome message!!!
<br/>
Please click <a href="<%=sails.config.appUrl%>/activateAccount/<%=password%>"> here</a> to activate your account. </p>

<br>
<p>Thank you</p>

ScopeMusic Team
