<!-- api/emailTemplates/welcomeEmail/html.ejs-->


<p>Dear <%=name%>,</p>
<br/>
please click <a href="<%=sails.config.appUrl%>/createPassword/<%=token%>">here</a> to create new Password</a> </p>

<br>
<p>Thank you</p>
